// app global css
body {
  background-color: $dark-page;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.q-page {
  background-color: $dark-page;
}
